<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.EchoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>ru.job4j.crud.controller.UserServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UserNewServlet</servlet-name>
        <servlet-class>ru.job4j.crud.controller.UserNewServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UserCreateServlet</servlet-name>
        <servlet-class>ru.job4j.crud.controller.UserCreateServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>ru.job4j.crud.controller.UserLoginServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>UserUpdateServlet</servlet-name>
        <servlet-class>ru.job4j.crud.controller.UserUpdateServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>UserExitServlet</servlet-name>
        <servlet-class>ru.job4j.crud.controller.UserExitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>TableAddServlet</servlet-name>
        <servlet-class>ru.job4j.frontend.TableAddServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TableAddServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserAddRegion</servlet-name>
        <servlet-class>ru.job4j.crud.controller.UserAddRegion</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserAddRegion</servlet-name>
        <url-pattern>/region</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserAddCities</servlet-name>
        <servlet-class>ru.job4j.crud.controller.UserAddCities</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserAddCities</servlet-name>
        <url-pattern>/cities</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>ru.job4j.crud.filter.UserFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/list</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>UserFilterCreate</filter-name>
        <filter-class>ru.job4j.crud.filter.UserFilterCreate</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>UserFilterCreate</filter-name>
        <url-pattern>/create</url-pattern>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserNewServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCreateServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserExitServlet</servlet-name>
        <url-pattern>/exit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HallServlet</servlet-name>
        <servlet-class>ru.job4j.cinema.controller.HallServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HallServlet</servlet-name>
        <url-pattern>/halls</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>Filter</filter-name>
        <filter-class>ru.job4j.cinema.filter.Filter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Filter</filter-name>
        <url-pattern>/cinema</url-pattern>
    </filter-mapping>
</web-app>

