<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/security
      http://www.springframework.org/schema/security/spring-security-4.2.xsd
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/" access="permitAll()"/>
        <intercept-url pattern="/adverts.html" access="permitAll()"/>
        <intercept-url pattern="/add-seller.html/**" access="permitAll()"/>
        <intercept-url pattern="/filter.html" access="permitAll()"/>
        <intercept-url pattern="/adverts-seller.html/**" access="isAuthenticated()"/>
        <access-denied-handler error-page="/403"/>
        <logout logout-success-url="/adverts.html"/>
        <csrf disabled="true"/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <password-encoder ref="encoder"/>
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query=
                                       "select name_s, password_s, active from seller where name_s=?"
                               authorities-by-username-query=
                                       "select u.name_s, ur.roles from seller u inner join seller_role ur ON u.id = ur.seller_id where name_s=?"/>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">

    </beans:bean>

</beans:beans>
